<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_header.css' %}">
  </head>
    <body>
      <header>
          <img class = "logo" src="/static/logo-removebg-preview.png" alt="logo"/>
          <nav>
              <ul class = "nav_links">
                  <li><a href="/lab-4/">Table</a></li>
                  <li><a href="add-note">Write</a></li>
                  <li><a href="note-list">Card</a></li>
              </ul>
          </nav>
      </header>
      {% block content %}
      {% endblock %}
      </body>
</html>