<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Responsive Cards UI Design</title>
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body class = "cards">

  {% extends "header.html" %}
  {% block content %}
  

<div class="wrapper">
  <div class="cards_wrap">
    {% for i in notes %}
    <div class="card_item">
      <div class="card_inner">
        <div class="card_top">
        </div>
        <div class="card_bottom">
          <div class="card_category">
            To: {{i.to}}
          </div>
          <div class="card_info">
            <p class="title">{{i.title}}</p>
            <p>
              {{i.message}}
            </p>
          </div>
          <div class="card_creator">
            from: {{i.fromm}}
          </div>
        </div>
      </div>
    </div>{% endfor %}
  </div>
</div>


{% endblock %}
</body>
</html>