<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    {% extends "header.html" %}
    {% block content %}
    <div class = "centered">
        <input type = "checkbox" id = "click">
        <label for ="click" class ="click-me"> Show Table</label>
        <div class = "content">
            <table class = "table_index">
        <caption></caption>
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
        </tr>
        <!-- TODO loop from Friend model -->
        <!-- EXAMPLE SECTION -->
        {% for i in notes %}
        <tr>
          <td>{{i.to}}</td>
          <td>{{i.fromm}}</td>
          <td>{{i.title}}</td>
          <td>{{i.message}}</td>
        </tr>
        {% endfor %}
        <!-- END SECTION -->
        <label for = "click" class = "close-btn"></label>  
    </div>
      </table>
        </div>{% endblock %}
    </div>
    

  </body>
</html>
