<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  


  <body>
    {% extends "header.html" %}
    {% block content %}

    
    <div class = "center">
      <h1>Write your message!</h1>
    <form action="" method=POST>
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
      <div class = "submit_link">
        <input type="submit" value ="Submit">
      </div>
      </div>
      </body>
    </form>
  </body>
  {% endblock %}
</html>

