table {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

th, caption {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th , td {
    padding: 10px;
}

tr:nth-child(1){
    background-color: lightgray;
}

