@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
    header{
      box-sizing: border-box;
      box-shadow: 11px 1px 7px rgb(0, 0, 0);
      margin: 0;
      padding: 0;
      background: linear-gradient(120deg,#7a4585,#6e4962);

    }
    li, a{
      font-family: 'Maven Pro', sans-serif;
      font-weight: 600;
      font-size: 15px;
      color:aliceblue;
      text-decoration: None;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 10%;
    }
    
    .logo {
        width: 6.1%;
    }

    .nav_links {
        list-style: none;
    }

    .nav_links li {
        display: inline-block;
        padding: 0px 55px;
    }

    .nav_links li a{
        transition: all 0.3s ease 0s;
    }

    .nav_links li a:hover{
        color: rgb(190, 190, 19);
    }




    body {
      padding: 0px;
      margin: 0;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background: url("/static/3803832.jpg") no-repeat center center fixed;;
      -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
      
      
    }

    .center{
        position: absolute;
        margin-top: 270px;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 600px;
        background: white;
        border-radius: 10px;
      }
    
      .center h1{
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom: 1px solid silver;
      }
    
      .center form{
        padding: 15px 40px;
        box-sizing: border-box;
        position: relative;
        margin: 30px 0;
    
      }
    
      .submit_link{
        position: absolute;
        left: 50%;
        bottom: 0;
        top: 100%;
        transform: translate(-50%,-50%);
      }

      .table_index  {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    
    .table_index th, caption {
        text-align: center;
        font-family: "Lucida Console", "Courier New", monospace;
    }
    
    
    .table_index, .table_index th, .table_index td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    
    .table_index th , .table_index td {
        padding: 10px;
    }
    
    .table_index tr:nth-child(1){
        background-color: rgb(35, 124, 240);
    }
    
    .table_index tr{
        background-color: azure;
    }
        
        #list:hover {
            background-color: #f5f5f5;
            transform: scale(1.02);
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
        }
        
        @media only screen and (max-width: 768px) {
            .table_index table {
                width: 90%;
            }
        }
    
        .click-me{
            display: block;
            width: 160px;
            height: 50px;
            background: #27ae60;
            border: 1px solid;
            color: white;
            text-align: center;
            font-size: 22px;
            line-height: 50px;
            border-radius: 3px;
            cursor: pointer;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-50%);
            margin-top: 100px;
        }
        
        .click-me:hover{
            background: #219150;
        }
    
        .content{
            opacity: 0;
            visibility: hidden;
            
    
        }
    
        #click{
            display: none;
        }
    
        #click:checked ~ .click-me{
            opacity: 0;
            visibility: hidden;
        }
    
        #click:checked ~ .content{
            opacity: 1;
            visibility: visible;
        }
    
        
        .close-btn{
            z-index: 1;
            background-image: url(/static/close-icon-13574.png);
            position: relative;
            top: 92px;
            left: 993px;
            background-size: cover;
            padding: 4px 13px;
            cursor: pointer;
        }
    

      