@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Explora", cursive;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .cards {
    font-size: 30 px;
    
  }
  

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .wrapper {
    width: 100%;
    margin: 20px auto;
  }
  
  .cards_wrap {
    display: flex;
    flex-wrap: wrap;
  }
  
  .cards_wrap .card_item {
    width: 25%;
    padding: 10px;
  }
  
  .cards_wrap .card_inner {
    background: #f8d079e3;
    border-style: solid;
    border-width: thick;
    border-image: linear-gradient(180deg,#3A1C71,#D76D77,#3A1C70) 1;
  }
  
  .cards_wrap .card_top {
    width: 100%;
    height: auto;
    padding: 12px;
    padding-bottom: 0;
    
  }

  .card_info{
    background-color: whitesmoke;
  }
  
  .cards_wrap .card_bottom {
    padding: 12px;
  }
  
  .cards_wrap .card_bottom .card_category {
    text-align: center;
  }
  
  .cards_wrap .card_bottom .card_info {
    padding: 15px;
    margin: 11px 0;
    border: 1px solid #161718;
    
  }
  
  .cards_wrap .card_bottom .card_info .title {
    color: #0f0f0f;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .cards_wrap .card_bottom .card_creator {
    text-align: center;
  }
  