<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Monsterrat:500');
    header{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      background: linear-gradient(120deg,#f7ff00,#db36a4);
    }
    li, a, button{
      font-family: "Monsterrat", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color:aliceblue;
      text-decoration: None;
    }

    header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 30px 10px;
    }

    button {
      padding: 9px 25px;
      background-color: rgba(0,136,169,1);
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
    }

    button:hover{
      background-color: rgba(0,136,16,0.8);
    }

    body {
      padding: 0px;
      margin: 0;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      
    }
    
    @keyframes gradient {
	  0% {
		background-position: 0% 50%;
	  }
	  50% {
		background-position: 100% 50%;
	  }
	  100% {
		background-position: 0% 50%;
	  }
    }
    table {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-collapse: collapse;
        width: 800px;
        height: 200px;
        border: 1px solid #111111;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
        background-color: rgb(245, 245, 245);
    }
    
    tr {
        transition: all .2s ease-in;
        cursor: pointer;
    }
    
    th,
    td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    
    #head {
        background-color: #1152b4;
        color: rgb(231, 231, 231);
    }
    
    
    #list:hover {
        background-color: #f5f5f5;
        transform: scale(1.02);
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    }
    
    @media only screen and (max-width: 768px) {
        table {
            width: 90%;
        }
    }
  </style>
  <body>
    <header>
      <a class = "cta" href = "add"><button>Add Friend</button></a>
    </header>
    <table>
      <tr id = "head">
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% for i in friends %}
      <tr id = "list">
        <td>{{i.name}}</td>
        <td>{{i.npm}}</td>
        <td>{{i.DOB}}</td>
      </tr>
      {% endfor %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
