<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <style>
    body{
      margin:0;
      padding:0;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background: linear-gradient(120deg,#f7ff00,#db36a4);
      height: 100vh;
      overflow: hidden;
    }
    .center{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 400px;
      background: white;
      border-radius: 10px;
    }

    .center h1{
      text-align: center;
      padding: 0 0 20px 0;
      border-bottom: 1px solid silver;
    }

    .center form{
      padding: 0 40px;
      box-sizing: border-box;
      position: relative;
      margin: 30px 0;

    }

    .submit_link{
      position: absolute;
      left: 50%;
      bottom: 34%;
      transform: translate(-50%,-50%);
    }
  </style>


  <body>
    <div class = "center">
      <h1>Add Friends</h1>
    <form action="" method=POST>
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
      </div>
      <div class = "submit_link">
        <input type="submit" value ="Submit">
      </div>
      </body>
    </form>
  </body>
</html>

